<connectionStrings>
	<!-- Run the \lib\Test-databases\roadkill-sqlserver.sql script to setup the database	-->
	<add name="Roadkill" connectionString="Server=tcp:nmpwj2yfu2.database.windows.net,1433;Database=Roadkill;User ID=bschriner@nmpwj2yfu2;Password=Bre0#Sch;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
</connectionStrings>
